 .u-section-1 {
  background-image: none;
  min-height: 956px;
}

.u-section-1 .u-shape-1 {
  height: 610px;
  background-image: linear-gradient(#fbeced, #adcce9);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Abril Fatface";
  margin: -534px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 578px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  height: auto;
  margin: 40px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20.6667px));
  min-height: 478px;
  grid-gap: 31px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 280px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 280px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 280px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    height: 546px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    height: 221px;
  }

  .u-section-1 .u-image-2 {
    height: 221px;
  }

  .u-section-1 .u-image-3 {
    height: 221px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.5px));
  }

  .u-section-1 .u-image-1 {
    height: 262px;
  }

  .u-section-1 .u-image-2 {
    height: 262px;
  }

  .u-section-1 .u-image-3 {
    height: 262px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    height: 663px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-image-1 {
    height: 454px;
  }

  .u-section-1 .u-image-2 {
    height: 454px;
  }

  .u-section-1 .u-image-3 {
    height: 454px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 279px;
  }

  .u-section-1 .u-image-2 {
    height: 279px;
  }

  .u-section-1 .u-image-3 {
    height: 279px;
  }
}